[user]
	name = Frederik Mogensen
	email = sodiaf@gmail.com

[alias]
	co = checkout
	st = status
	ci = commit

[color]
	diff = auto

[core]
	editor = vim
	excludesfile = ~/bash/.gitignore

[diff]
	tool = vimdiff

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
